<layout-header></layout-header>

<div class="contentContainer">
	<div class="container">
		<div class="profile">
			<div class="game_title">
				<h3 class="">My Account</h3>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="avatar">
						<img class="img-circle img-thumbnail" src="./assets/images/{{ my_acocunt.avatar }}" style="width: 100%;">
					</div>
				</div>
				<div class="col-md-8">
					<div class="content">
						<table class="table table-striped table-hover">
							<tbody>
								<tr>
									<th>Username</th>
									<td>{{ my_acocunt.username }}</td>
								</tr>
								<tr>
									<th>Email</th>
									<td>{{ my_acocunt.email }}</td>
								</tr>
								<tr>
									<th>Fullname</th>
									<td>{{ my_acocunt.fullname }}</td>
								</tr>
								<tr>
									<th>Gender</th>
									<td>{{ my_acocunt.gender }}</td>
								</tr>
								<tr>
									<th>City</th>
									<td>{{ my_acocunt.city }}</td>
								</tr>
								<tr>
									<th>Phone</th>
									<td>{{ my_acocunt.phone }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="action_profile">
						<a class="btn btn-primary pull-left" data-toggle="modal" data-target="#myModal">Update</a>
						<a href="" class="btn btn-danger pull-right">Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Change Profile</h4>
			</div>
			<div class="modal-body bodyCtn row">
				<div class="col-md-6 form-group">
					<label>Username</label>
					<input type="text" name="username" class="form-control" [(ngModel)]="my_acocunt.username" disabled="disabled" >
				</div>
				<div class="col-md-6 form-group">
					<label>Email</label>
					<input class="form-control" type="email" name="email" [(ngModel)]="my_acocunt.email" disabled="disabled" >
				</div>
				<div class="col-md-6 form-group">
					<label>Fullname</label>
					<input type="text" name="fullname" class="form-control" [(ngModel)]="my_acocunt.fullname" >
				</div>
				<div class="col-md-6 form-group">
					<label>Gender</label>
					<select class="form-control" [(ngModel)]="my_acocunt.gender" >
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</div>
				<div class="col-md-6 form-group">
					<label>Phone</label>
					<input type="number" name="phone" class="form-control" [(ngModel)]="my_acocunt.phone" >
				</div>
				<div class="col-md-6 form-group">
					<label>City</label>
					<input type="text" name="city" class="form-control" [(ngModel)]="my_acocunt.city" >
				</div>
				<div class="col-md-6 form-group">
					<label>Avatar</label>
					<input type="file" name="file" class="form-control" (change)="onChange($event)" >
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
				<a class="btn btn-primary pull-left" (click)="update_profile()" >Save</a>
			</div>
		</div>
	</div>
</div>

<layout-footer></layout-footer>